/* 父容器布局 */
.OptPage-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.OptPage-maincontent {
  flex-grow: 1;
  padding: 0px;
  background-color: #fff;
  
}


.step-indicator-container {
  display: flex;
  justify-content: center;  /* 让它居中 */
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
  gap: 20px;

  background-color: #f5f5f5;
}

/* 每个步骤 */
.step-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px 22px;
  border-radius: 4px;
  transition: background-color 0.2s;
  font-size: 18px;
}

.home-separator {
  margin: 0 8px;     /* 两侧留出间距 */ 
  font-size: 20px;
  color: #000000;       /* 或自定义颜色 */
  font-weight: bold; /* 让箭头显眼 */
}

/* 鼠标悬停小效果 */
.step-item:hover {
  background-color: #e0e0e0;
}

/* 当前步骤高亮 */
.step-item.active {
  background-color: #82a7e2;
  color: #fff;
}

/* 序号 */
.step-number {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 8px;
  background-color: #ccc;
  color: #000;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}

/* 文字 */
.step-text {
  font-size: 20px;
  font-weight: 500;
}